PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/EternalVastra
CLIENT_URL=http://localhost:5173

# SMTP Email Configuration for Contact Form & Authentication OTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=rohanshinde8725@gmail.com
SMTP_PASS=dlxb yrww igfg yyiv
EMAIL_FROM="Eternal Vastra" <rohanshinde8725@gmail.com>
ADMIN_EMAIL=rohanshinde8725@gmail.com
