@import "tailwindcss";

html {
  font-size: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  transition: all 0.3s ease;
}

.custom-pagination .swiper-pagination-bullet-active {
  background: #8b1c2c; /* rich saree red */
}


@media screen and (max-width: 768px) {
   .banner-p{
    width: 60%;
  }
}